.upgradeBtn {
    border-radius: 0px;
    text-decoration: none;
    background: #9bd7d7;
    border: none;
    padding: 10px;
    font-size: 15px;
    font-family: helvetica;
    margin: 18px;
}

.upgradeBtn:hover {
    background: #70ffd6;
}

img {
    /*
      This displays an element as a block element (like a <p>). This will
      have each of the food upgrade images be displayed on a new line, perhaps
      later you can create each of the food upgrades with a particular class so
      not all images will have this css.
    */
    display: block;
}

#colWrapper {
  /*
    This defines a flex container; inline or block depending on the given value.
    It enables a flex context for all its direct children.
  */
  display: flex;
}

#colUn {
    width: 70%;
    margin: 10px;
    background: #e6fff2;
}

#colDeux {
    width: 30%;
    height: 300px;
    background: #ccf5ff;
    margin: 10px;
    text-align: center;
}

#workImage {
    margin-left: 20px;
    width: 75px;
}

#pizzaPizza {
    width: 45px;
}

#parentDivTest {
    margin-left: 10px;
}

#addingFood {
    margin-left: 20px;
}

#ramenImage {
    width: 50px;
    margin-left: 20px;
}
#progressTitle  {
    margin-bottom: 0px;
    margin-left: 35px;
}

#myProgress {
    position: relative;
    width: 30%;
    height: 17px;
    background-color: grey;
    margin-top: 0px;
    margin-left: 20px;
}
#myBar {
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: black;
}

#label {
    text-align: center;
    line-height: 16px;
    color: white;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

#brTitle {
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Sacramento', cursive;
    animation-duration: 2s;
    animation-name: bounceIn;
    margin-bottom: 50px;
    font-size: 40px;
}

#colDeux {
  font-family: monospace;

}

#colUn {
  font-family: monospace;

}
