#colWrapper {
  /*
    This defines a flex container; inline or block depending on the given value.
    It enables a flex context for all its direct children.
  */
  display: flex;
}

#colUn {
    width: 70%;
    margin: 10px;
    background: #e6fff2;
}

#colDeux {
    width: 30%;
    height: 300px;
    background: #ccf5ff;
    margin: 10px;
    text-align: center;
}

#workImage {
    width: 75px;
}

#pizzaPizza {
    width: 45px;
    /*visibility: hidden;*/
}

#ramenImage {
    width: 50px;
    margin-top: 30px;
}
#progressTitle  {
    margin-bottom: 0px;
}

#myProgress {
    position: relative;
    width: 30%;
    height: 17px;
    background-color: grey;
    margin-top: 0px;
}
#myBar {
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: black;
}

#label {
    text-align: center;
    line-height: 16px;
    color: white;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

#brTitle {
  font-family: 'Sacramento', cursive;
  animation-duration: 2s;
  animation-name: bounceIn;
  margin-bottom: 50px;
  font-size: 40px;
}
